ul.advantages{
    list-style-image: url('../assets/add.png');
}
ul.drawbacks{
    list-style-image: url('../assets/minus.png');
}
ul.unclear{
    list-style-image: url('../assets/questionMark.png');
}
ul.small li{
    line-height: 1;
    font-weight: lighter;
    font-size: 80%;
    margin:0 0 20px 0;
}
